<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conversor de Morse para ASCII</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <!-- Arquivo do CSS desabilitado por hora. O teste do CSS fica 
    mais rápido com as definições aqui no próprio HTML.

    Após finalizado será enviado de volta para o arquivo main.css -->
  </head>
  <body>
 
    <div class="header">
      <h1 class="title">Conversor de Código-Morse</h1>
    </div>
    
    <div class="content">
      
      <div class="instructions-and-form">
        <h2>Insira abaixo o código morse</h2>
        <p>São aceitos apenas os caracteres:<br>
          <table class="lista-caracteres">
            <tr>
              <td><strong>"."</strong></td>
              <td>(ponto final)</td>
            </tr>
            <tr>
              <td><strong>"-"</strong></td>
              <td>(sinal de menos)</td>
            </tr>
            <tr>
              <td><strong>"/"</strong></td>
              <td>(barra)</td>
            </tr>
          </table>
        </p>
          
        <form class="formulario" action="/send_morse" method="POST">
          <textarea cols="50" rows="5" name="codigo" 
          id="codigo" required oninput="removerCaracteres()" 
          placeholder="exemplo: ---/..//./-"></textarea>
          <!-- <input type="text" oninput="removerCaracteres()" 
            id="codigo" name="codigo" required
            placeholder="exemplo: ---/..//./-"> -->
          <div class="buttons">
            <button class="form_buttons" type="submit">Traduzir</button>
            <button class="form_buttons" type="reset">Limpar</button>
          </div>
        </form>
        
        <div class="traducao">
          <h4 class="traducao-titulo">Resultado:</h4>
          <div class="resultado">
            <p id="resultado-texto">{{ resultado }}</p>
          </div>
          <button onclick="limparResultado()" >Limpar resultado</button>
        </div>
        <br/>
      </div>
    

      <div class="informacoes-morse">
        <table class="container-tabelas">
          <tr>
            <th class="tabela-header">Lista de caracteres</th>
          </tr>
          <tr>
            <table class="tabela-morse" id="tabela-morse-letras">
              <tr>
                <td>A: .-</td><td>B: -...</td><td>C: -.-.</td><td>D: -..</td>
                <td>E: .</td><td>F: ..-.</td><td>G: --.</td></tr>
              <tr>
                <td>H: ....</td><td>I: ..</td><td>J: .---</td><td>K: -.-</td>
                <td>L: .-..</td><td>M: --</td><td>N: -.</td>
              <tr>
                <td>O: ---</td><td>P: .--.</td><td>Q: --.-</td><td>R: .-.</td>
                <td>S: ...</td><td>T: -</td><td>U: ..-</td>
              </tr>
              <tr>
                <td>V: ...-</td><td>W: .--</td><td>X: -..-</td>
                <td>Y: -.--</td><td>Z: --..</td>
              </tr>
            </table>
            <table class="tabela-morse" id="tabela-morse-numeros">
              <tr>
                <td>1: .----</td><td>2: ..---</td><td>3: ...--</td>
                <td>4: ....-</td><td>5: .....</td>
              </tr>
              <tr>
                <td>6: -....</td><td>7: --...</td><td>8: ---..</td>
                <td>9: ----.</td><td>0: -----</td>
              </tr>
            </table>
            <table class="tabela-morse" id="tabela-morse-espacos">
              <tr>
                <td>Separador de caracteres: /</td>
                <td>Separador de palavras: //</td>
              </tr>
            </table>
          </tr>
        </table>
      </div>

    </div>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

  </body>
</html>